<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Bike</title>
</head>
<body>
    <form method="POST">
        <label for="">Model</label>
        <input type="text" placeholder="e.g.Honda" name="model">
        <label for="">Daily fee(VND)</label>
        <input type="text" placeholder="100000" name="fee">
        <label for="">Image</label>
        <input type="text" placeholder="e.g. https://hondaxemay" name="image">
        <label for="">Year</label>
        <input type="text" placeholder="e.g.2018" name="year">
        <button>Submit</button>
    </form>
</body>
</html>